body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}
#videoform{
    text-align: center;
    margin: 25px;
}